.react-chatbot-kit-chat-container {
  height: calc(100vh - 4rem);
  margin-top: 0;
  @apply w-full rounded-sm;
}

.react-chatbot-kit-chat-inner-container {
  @apply flex h-full flex-col bg-transparent;
}
/* ---Inside inner container------ */
.react-chatbot-kit-chat-header {
  display: none;
}

.react-chatbot-kit-chat-input-container {
  @apply h-10 dark:bg-transparent;
}

.react-chatbot-kit-chat-message-container {
  height: calc(100% - 2.5rem);
  @apply flex flex-col items-start gap-3
    overflow-scroll p-4;
}

/* -------------------------------- */

/* -----Inside input container---------- */
.react-chatbot-kit-chat-input {
  cursor: default;
  outline: none;
  caret-color: transparent;
  @apply bg-amber-50/75 focus:outline-none dark:bg-slate-700/50;
}

.react-chatbot-kit-chat-input-form {
}

.react-chatbot-kit-chat-input::placeholder {
  @apply text-gray-400;
}

.react-chatbot-kit-chat-btn-send {
  cursor: not-allowed;
  pointer-events: none;
  outline: none;
  @apply bg-gray-300 focus:outline-none dark:bg-slate-600;
}

.react-chatbot-kit-chat-btn-send-icon {
}

.react-chatbot-kit-chat-bot-message-container {
  @apply my-0;
}

.react-chatbot-kit-user-chat-message {
  @apply bg-gray-200 drop-shadow-lg;
}

.react-chatbot-kit-user-chat-message-container {
  @apply self-end;
}

.react-chatbot-kit-user-avatar-container {
  @apply drop-shadow-lg;
}

.react-chatbot-kit-chat-bot-avatar-container {
  @apply drop-shadow-lg;
}

.react-chatbot-kit-chat-bot-avatar-icon {
}

.react-chatbot-kit-chat-bot-avatar-letter {
}

.react-chatbot-kit-chat-bot-message {
  @apply w-auto drop-shadow-lg md:max-w-2xl;
}

.react-chatbot-kit-chat-bot-message-arrow {
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}

@media (min-width: 768px) {
  .react-chatbot-kit-chat-container {
    height: calc(100vh - 4rem - 10px);
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .react-chatbot-kit-chat-message-container {
    height: calc(100% - 2.5rem - 10px);
  }
}
